# Rename this file to .env
GOOGLE_CLOUD_PROJECT="<YOUR_GCP_PROJECT_ID>"
GOOGLE_CLOUD_LOCATION="us-central1"
GOOGLE_GENAI_USE_VERTEXAI="TRUE"
# GOOGLE_CLOUD_STORAGE_BUCKET=<YOUR_STORAGE_BUCKET>  # Only required for deployment on Agent Engine

# ADK and environment specific variables
BQ_CONNECTION_REGION="us-central1"
BQ_CONNECTION_NAME="<YOUR_BQ_CONNECTION_NAME>" 
BQ_SECMGR_ID="<YOUR_BQ_SECMGR_ID>" 
BQ_SECMGR_SECRET="<YOUR_BQ_SECMGR_SECRET>"
BQ_OAUTH_SCOPES="<YOUR_BQ_OAUTH_SCOPES>"  # e.g., https://www.googleapis.com/auth/bigquery.readonly
BQ_REDIRECT_URI="https://vertexaisearch.cloud.google.com/oauth-redirect"
BQ_AUTHORIZATION_ID="<YOUR_BQ_AUTHORIZATION_ID>" # name of your choosing

# Gemini Enterprise deployment variables
GEM_ENT_COLLECTION_ID="default_collection"
GEM_ENT_ENGINE_ID="<YOUR_GEMINI_ENTERPRISE_ENGINE_ID>"
GEM_ENT_ASSISTANT_ID="default_assistant"
ADK_AGENT_NAME="adk-bq-agent"
ADK_AGENT_DESCRIPTION="A BigQuery agent built using the Agent Development Kit (ADK) to answer questions about Citi Bike data."
ADK_TOOL_DESCRIPTION="A tool that allows the agent to query Citi Bike data stored in BigQuery."
ADK_AGENT_ICON_URI="<URL of your icon png file>"